$weekdays: (
  'mon': 0,
  'tue': 1,
  'wed': 2,
  'thu': 3,
  'fri': 4,
  'sat': 5,
  'sun': 6,
);
$month-lengths: (28, 29, 30, 31);
$day-cell-width: 100px;
$day-cell-height: 100px;
$calendar-gap: 1px;

.calendar {
  display: flex;
  flex-wrap: wrap;
  flex-basis: $day-cell-width;
  gap: $calendar-gap;
  width: calc($day-cell-width * 7 + $calendar-gap * 6);
  padding: 10px;

  @each $day, $index in $weekdays {
    &--#{$day} {
      .calendar__day:first-child {
        margin-left: calc($index * ($day-cell-width + $calendar-gap));
      }
    }
  }

  @each $month-length in $month-lengths {
    &--month-length-#{$month-length} {
      .calendar__day:nth-child(n + #{$month-length + 1}) {
        display: none;
      }
    }
  }

  &__day {
    position: relative;
    box-sizing: border-box;
    width: $day-cell-width;
    height: $day-cell-height;
    border: 1px solid #000;
    background-color: #eee;
    cursor: pointer;
    transition: transform 0.5s ease;

    &:hover {
      background-color: #ffbfcb;
      transform: translateY(-20px);
    }

    @for $day from 1 through 31 {
      &:nth-child(#{$day}) {
        &::before {
          content: '#{$day}';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-family: Arial, sans-serif;
          font-size: 30px;
        }
      }
    }
  }
}
